In [359]:
#Roger Bellido Peralta
#15/11/2021
#Dashboard

import pandas as pd
import streamlit as st
from sodapy import Socrata # Was not in the installation list for this course!
                           #Use "pip install sodapy" or "conda install sodapy" to install

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("analisi.transparenciacatalunya.cat", None)
print("Format of dataset: ", type(client))

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get_all("pvrz-iijx") # 2000 is the number of vaccinated patients that we scrape from the web page
df=pd.DataFrame(results)
df

#df['num_mes_entrada_sistema']=df['mes_entrada_sistema'].astype(str).str[:2]
#df['nom_mes_entrada_sistema']=df['mes_entrada_sistema'].str[2:]
#df[['any_entrada_sistema']].astype(int)<2021

2021-11-23 13:04:55.083 WARNING root: Requests made without an app_token will be subject to strict throttling limits.

Format of dataset:  <class 'sodapy.socrata.Socrata'>

,id_infant_jove,data_entrada_sistema,any_entrada_sistema,mes_entrada_sistema,servei_territorial_gestio,data_naixement_infant,sexe_infant,origen_infant
0,132056,2019-10-20,2019,10Octubre,Terres de l'Ebre,2003-02-02,Nois,Marroc
1,131373,2019-09-27,2019,09Setembre,Tarragona,2001-11-16,Nois,Marroc
2,131850,2019-10-11,2019,10Octubre,Àrea Metropolitana BCN,2001-12-14,Nois,Marroc
3,119521,2018-10-14,2018,10Octubre,Barcelona comarques,2001-04-22,Nois,Marroc
4,132138,2019-10-23,2019,10Octubre,Barcelona ciutat,2004-08-07,Nois,Altra
...,...,...,...,...,...,...,...,...
9491,115071,2018-06-26,2018,06Juny,Barcelona ciutat,2001-12-31,Nois,Altra
9492,127496,2019-05-26,2019,05Maig,Tarragona,2002-07-15,Nois,Marroc
9493,119523,2018-10-04,2018,10Octubre,Barcelona comarques,2002-03-22,Nois,Marroc
9494,115456,2018-07-05,2018,07Juliol,Barcelona comarques,2001-06-20,Nois,Marroc
9495,131005,2019-09-12,2019,09Setembre,Barcelona comarques,2003-05-08,Nois,Marroc

In [338]:
#results_2 = client.get_all("mxpz-6y5e")
#df_2=pd.DataFrame(results_2)
#df_2

In [340]:

#df_origin = df["origen_infant"]
#colors = sns.color_palette("Greys_r")
#colors = ( "black", "brown", "grey", 
          #"white") 
#df_origin.value_counts().plot.pie(colors=colors,title="Origen migrants", legend=False, \
#                   autopct='%1.1f%%', \
#                   shadow=True, startangle=0)

#df_origin
#plt.savefig("pie_chart_origen.png")

In [341]:
#df_origin_2 = df_2["origen_infant_grup"]
#colors = sns.color_palette("Greys_r")
#colors = ( "black", "brown", "grey", 
          #"white") 
#df_origin_2.value_counts().plot.pie(colors=colors,title="Origen migrants", legend=False, \
#                   autopct='%1.1f%%', \
#                   shadow=True, startangle=0)

#df_origin_2

In [342]:
#df_prova=df_2["origen_infant_grup"].tolist()
#df_prova

In [343]:
#df_origin_edat = df[["any_entrada_sistema","origen_infant"]]
#df_origin_edat

In [344]:

#    df_origin = df["origen_infant"]
#    colors = sns.color_palette("Greys_r")
    
   
    
#df_2016= df_origin_edat[df_origin_edat["any_entrada_sistema"]=="2016"]
#df_2016.drop(columns=["any_entrada_sistema"],inplace=True)
#df_2016.value_counts().plot.pie(colors=colors,title="Origen migrants", legend=False, \
#                       autopct='%1.1f%%', \
#                    shadow=True, startangle=0)

#df_2016

In [352]:
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import streamlit as st
import matplotlib.pyplot as plt
import matplotlib.animation as ani

%matplotlib notebook

rcParams['font.family'] = 'serif'
colors = ['#E69F00','#56B4E9','#009E73','#F0E442','#0072B2','#D55E00','#CC79A7']
year = ["2016","2017","2018","2019","2020","2021"]

Warning: Cannot change to a different GUI toolkit: notebook. Using qt instead.

In [346]:
#slices = [30,60,50,40]

#plt.pie(slices,wedgeprops={"edgecolor":"k"}, textprops ={"fontweight":"bold"}, autopct="%1.1f%%",colors = colors)
#plt.show()

In [347]:
origen_total = df["origen_infant"].value_counts().tolist()
labels_total = df["origen_infant"].value_counts().index
exp= [0.01,0.01,0.01,0.01]
plt.pie(origen_total,labels=labels_total, textprops ={"fontweight":"bold","size":15}, 
        autopct="%1.1f%%",colors = colors, shadow= True,explode = exp,startangle=180,pctdistance = 0.7,radius=2)
plt.pie(origen_total, colors = ["white"])
plt.show()

In [368]:
colors_dict={ 'Morroco':"#E69F00",'Maghreb':'#56B4E9',
             'Sub-Saharan Africa':'#009E73','Others':'#F0E442'}
dw_mapping={"Africa subsahariana":"Sub-Saharan Africa",
           "Marroc":"Morroco",
           "Magreb (excloent Marroc)":"Maghreb",
           "Altra":"Others"}
df= df.sort_values("data_entrada_sistema")
df = df.dropna()
df['origen'] = df['origen_infant'].map(dw_mapping)
f, ax = plt.subplots(figsize=(7,7))
df_any= df[df["any_entrada_sistema"]==year[5]]
origen_any = df_any["origen"].value_counts()#.tolist()
labels_any = df_any["origen"].value_counts().index
list_countries = list(colors_dict.keys()) 


origen_any =origen_any.reindex(list_countries)
cdict = {"Marroc":'#E69F00',"Altra":"#56B4E9","Africa subsahariana"'#009E73'
        "Magreb (excloent Marroc)":'#F0E442'}
exp= [0.01,0.01,0.01,0.01]

#print(origen_any)

#print(origen_any)
#colors2=[colors_dict[x] for x in origen_any.index]
origen_any.plot.pie( textprops ={"fontweight":"bold","size":15}, autopct="%1.1f%%",colors = colors, shadow= True,explode = exp,pctdistance = 0.7,radius=3,startangle=180)
#plt.pie(origen_any,labels=labels_any, textprops ={"fontweight":"bold","size":15}, 
#        autopct="%1.1f%%",colors = colors, shadow= True,explode = exp,pctdistance = 0.7,radius=2)
plt.pie(origen_total, colors = ["white"])
#centre_circle = plt.Circle((-5,0),70,fc= "white")
plt.gca().axis("equal")

plt.title("Origen Migratori",loc="left",size=15)
ax.set_axis_off()
plt.show()

In [366]:
df

,id_infant_jove,data_entrada_sistema,any_entrada_sistema,mes_entrada_sistema,servei_territorial_gestio,data_naixement_infant,sexe_infant,origen_infant,origen
8033,78652,2015-01-01,2015,01Gener,Barcelona ciutat,1997-06-13,Nois,Marroc,Morroco
2919,78686,2015-01-05,2015,01Gener,Barcelona ciutat,1997-02-01,Nois,Magreb (excloent Marroc),Maghreb
7780,66384,2015-01-06,2015,01Gener,Barcelona ciutat,1999-01-31,Nois,Marroc,Morroco
8107,78687,2015-01-06,2015,01Gener,Barcelona ciutat,1999-09-03,Nois,Marroc,Morroco
6761,78729,2015-01-07,2015,01Gener,Barcelona ciutat,1999-12-05,Nois,Magreb (excloent Marroc),Maghreb
...,...,...,...,...,...,...,...,...,...
2142,147095,2021-05-28,2021,05Maig,Lleida,2007-10-03,Nois,Magreb (excloent Marroc),Maghreb
2283,147094,2021-05-28,2021,05Maig,Lleida,2006-06-05,Nois,Magreb (excloent Marroc),Maghreb
2232,147125,2021-05-29,2021,05Maig,Barcelona ciutat,2004-01-01,Nois,Magreb (excloent Marroc),Maghreb
2186,147128,2021-05-30,2021,05Maig,Barcelona ciutat,2005-09-07,Nois,Africa subsahariana,Sub-Saharan Africa
2137,147150,2021-05-31,2021,05Maig,Girona,2004-06-30,Nois,Marroc,Morroco

In [370]:
%matplotlib notebook
pie, ax = plt.subplots(figsize=(7,7))

colors_dict={ 'Morroco':"#E69F00",'Maghreb':'#56B4E9',
             'Sub-Saharan Africa':'#009E73','Others':'#F0E442'}

dw_mapping={"Africa subsahariana":"Sub-Saharan Africa",
           "Marroc":"Morroco",
           "Magreb (excloent Marroc)":"Maghreb",
           "Altra":"Others"}
df= df.sort_values("data_entrada_sistema")
df = df.dropna()
df['origen'] = df['origen_infant'].map(dw_mapping)



year = ["2016","2017","2018","2019","2020","2021"]
frames = len(year)
def animation_pie(i):
    ax.clear()
    df_any= df[df["any_entrada_sistema"]==year[i]]
    origen_any = df_any["origen"].value_counts()
    labels_any = df_any["origen"].value_counts().index
    list_countries = list(colors_dict.keys()) 
    origen_any =origen_any.reindex(list_countries)
     
    exp= [0.01,0.01,0.01,0.01]

    pie = origen_any.plot.pie( textprops ={"fontweight":"bold","size":15}, autopct="%1.1f%%",colors = colors, shadow= True,explode = exp,pctdistance = 0.7,radius=2,startangle=180)
    
    plt.pie(origen_total, colors = ["white"])
    plt.gca().axis("equal")
    
    plt.title("Migratory Origin\n"+year[i],loc="left",size=15)
    ax.set_axis_off()
    return pie
   

animation = ani.FuncAnimation(fig = pie,func =animation_pie,frames =frames,interval = 500)
#FFwriter = ani.FFMpegWriter()
#animation.save('animation.mp4', writer = FFwriter, fps=1)


#animation.save('hehe.gif',writer=writervideo)

Warning: Cannot change to a different GUI toolkit: notebook. Using qt instead.

/opt/anaconda3/lib/python3.8/site-packages/pandas/plotting/_matplotlib/core.py:1583: MatplotlibDeprecationWarning: normalize=None does not normalize if the sum is less than 1 but this behavior is deprecated since 3.3 until two minor releases later. After the deprecation period the default value will be normalize=True. To prevent normalization pass normalize=False
  results = ax.pie(y, labels=blabels, **kwds)

In [356]:
df

,id_infant_jove,data_entrada_sistema,any_entrada_sistema,mes_entrada_sistema,servei_territorial_gestio,data_naixement_infant,sexe_infant,origen_infant
8033,78652,2015-01-01,2015,01Gener,Barcelona ciutat,1997-06-13,Nois,NaN
2919,78686,2015-01-05,2015,01Gener,Barcelona ciutat,1997-02-01,Nois,NaN
7780,66384,2015-01-06,2015,01Gener,Barcelona ciutat,1999-01-31,Nois,NaN
8107,78687,2015-01-06,2015,01Gener,Barcelona ciutat,1999-09-03,Nois,NaN
6761,78729,2015-01-07,2015,01Gener,Barcelona ciutat,1999-12-05,Nois,NaN
...,...,...,...,...,...,...,...,...
2232,147125,2021-05-29,2021,05Maig,Barcelona ciutat,2004-01-01,Nois,NaN
2186,147128,2021-05-30,2021,05Maig,Barcelona ciutat,2005-09-07,Nois,NaN
2243,147130,2021-05-30,2021,05Maig,NaN,2004-05-30,Nois,NaN
2024,147131,2021-05-30,2021,05Maig,NaN,2004-05-30,Nois,NaN
2137,147150,2021-05-31,2021,05Maig,Girona,2004-06-30,Nois,NaN